<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fairy.global.globalfairytoppi4j.mapper.tdengine.DataWorkMapper">

    <select id="findAllDataWork" resultType="java.util.Map">
        SELECT
         *
        FROM
          t
          limit 10
    </select>
    <insert id="insert" parameterType="top.fairy.global.globalfairytoppi4j.beans.DataWorkBean" >
        insert into t (ts, speed) values (  #{ts,jdbcType=INTEGER}, #{speed,jdbcType=STRING})
    </insert>

</mapper>